@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Courier New", Courier, monospace;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Custom selection color */
  ::selection {
    background: #000000;
    color: white;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #F5F5F5;
    border: 1px solid #CCCCCC;
  }

  ::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #000000;
  }
}